.icn{
    position: relative;
    margin-left: 20px;
} 


.frm{
    margin-top: 70px;
}

.frm input{
    padding: 10px 60px;
    position: absolute;
    border: solid 3px orange;
    outline: none;
    border-radius: 10px;
}

.frm label{
    position: relative;
    font-size: 20px;
    line-height: 40px;
    margin-left: 30px;
}

.frm input:focus~label{
    top:-40px;
    
}



