.main{
    display:block;
    text-align: center;
    justify-content: center;

}
.main input{
    padding: 20px 25px;
    position: relative;
    right: 3%;
}
.main button{
    padding: 20px 25px;
position: absolute;
right: 42%;


}

.ban{
    display: flex;
    justify-content: center;
    text-align: center;
    /* visibility: hidden; */
}
   


.weather{

}
.weather img{
    border-radius: 50%;
    margin-top: 40px;
}
.ban img{
    height: 300px;
    width: 350px;

}
.humid{
    margin-right: 50px;
}